apiVersion: apps/v1
kind: Deployment
metadata:
#  name: {{ include "dropw-app.fullname" . }}
  name: {{ .Values.metadata.name }}
  labels:
    app.kubernetes.io/name: {{ include "dropw-app.name" . }}
    helm.sh/chart: {{ include "dropw-app.chart" . }}
#    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.hpa.replicaCount }}
  minReadySeconds: {{ .Values.minReadySeconds }}
  strategy:
    rollingUpdate:
       maxSurge: {{ .Values.strategy.maxSurge }}
       maxUnavailable: {{ .Values.strategy.maxUnavailable }}
    type: {{ .Values.strategy.type }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "dropw-app.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "dropw-app.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        autoscale/minReplicas: "{{ .Values.hpa.minReplicas }}"
        autoscale/maxReplicas: "{{ .Values.hpa.maxReplicas }}"
        autoscale/cpu: "{{ .Values.hpa.cpu }}"
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /hello-world
              port: http
          readinessProbe:
            httpGet:
              path: /hello-world
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
