{{- if .Values.ingress.enabled -}}
{{- $fullName := include "dropw-app.fullname" . -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "dropw-app.name" . }}
    helm.sh/chart: {{ include "dropw-app.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  - host: {{ .host | quote }}
    http:
      paths:
        - path: {{ default "/" .path }}
          backend:
            serviceName: {{ $fullName }}
            servicePort: {{ .Values.service.port }}
{{- end }}
